In [1]:
from datascience import *
from matplotlib import *
import numpy as np

In [2]:
def f(x):
    return [x for _ in range(5)]

In [3]:

length = np.array(f(40.35) + f(50.53) + f(29.65) + f(35.80) + f(45.00)) + 2
length

array([ 42.35,  42.35,  42.35,  42.35,  42.35,  52.53,  52.53,  52.53,
        52.53,  52.53,  31.65,  31.65,  31.65,  31.65,  31.65,  37.8 ,
        37.8 ,  37.8 ,  37.8 ,  37.8 ,  47.  ,  47.  ,  47.  ,  47.  ,
        47.  ])

In [4]:
T = np.array([1.291, 1.291, 1.291, 1.291, 1.292,
              1.440, 1.416, 1.440, 1.439, 1.439,
              1.103, 1.104, 1.103, 1.085, 1.104,
              1.218, 1.218, 1.218, 1.218, 1.218,
              1.512, 1.513, 1.512, 1.513, 1.512])
T

array([ 1.291,  1.291,  1.291,  1.291,  1.292,  1.44 ,  1.416,  1.44 ,
        1.439,  1.439,  1.103,  1.104,  1.103,  1.085,  1.104,  1.218,
        1.218,  1.218,  1.218,  1.218,  1.512,  1.513,  1.512,  1.513,
        1.512])

In [5]:
table = Table().with_columns('L', length,
                           'T', T)
table

L     | T
42.35 | 1.291
42.35 | 1.291
42.35 | 1.291
42.35 | 1.291
42.35 | 1.292
52.53 | 1.44
52.53 | 1.416
52.53 | 1.44
52.53 | 1.439
52.53 | 1.439
... (15 rows omitted)

In [8]:
table.scatter('T', 'L', fit_line = True)